@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

.Wrapper {
	display: flex;

	justify-content: center;
	align-items: center;

	flex-direction: column;

	width: 100vw;
	height: 100vh;

	.Title {
		font-family: $third-font;
		font-size: 10em;

		color: $secondary-color;
	}

	.Description {
		font-family: $secondary-font;
		font-size: $md-size;

		color: $third-color;

		margin-top: $md-space;
	}
}
