@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';
@import 'styles/constants.scss';

.Home {
	height: 100%;

	display: flex;

	position: relative;

	.Menu,
	.Playlist,
	.Queue {
		height: calc(100vh - #{$navbar-height} - #{$md-space} * 3);

		transition: height $navigation_animation_duration, transform $navigation_animation_duration,
			width $navigation_animation_duration;
	}

	.Menu {
		width: calc(100vw - #{$md-space} * 4);

		display: flex;
		flex-direction: column;

		margin-left: $md-space;

		transform: translateX(calc(-100vw + #{$md-space} * 3));

		position: absolute;

		> * {
			width: 100%;

			&:first-child {
				margin-bottom: $md-space;
				min-height: 170px;
			}

			&:nth-child(2) {
				height: 100%;
			}
		}
	}

	.Playlist {
		width: 100vw;

		margin-left: $md-space;
		margin-right: $md-space;
	}

	.Queue {
		display: none;
	}
}

.HomeMenu {
	.Menu {
		transform: translateX(0);
	}

	.Playlist {
		transform: translateX(calc(100vw - #{$md-space} * 3));
	}
}

.HomeQueue {
	.Menu,
	.Playlist,
	.Queue {
		height: calc(100vh - #{$navbar-height} - #{$playbar-height} - #{$md-space} * 4);
	}
}

@media (min-width: 720px) {
	.Home {
		.Menu {
			width: $menu_width;

			transform: translateX(calc(-#{$queue_width} - #{$md-space}));
		}

		.Queue {
			position: absolute;
			transform: translateX(calc(-#{$queue_width} - #{$md-space}));

			width: $queue_width;

			margin-right: $md-space;
		}
	}

	.HomeMenu {
		.Menu {
			transform: translateX(0);
		}

		.Playlist {
			transform: translateX(calc(#{$queue_width} + #{$md-space}));
		}
	}

	.HomeQueue {
		.Queue {
			height: calc(100vh - #{$navbar-height} - #{$playbar-height} - #{$md-space} * 4);
		}
	}
}

@media (min-width: 1025px) {
	.Home {
		.Playlist {
			will-change: width;
			width: calc(100vw - #{$md-space} * 2);
		}

		.Queue {
			display: flex;

			transform: translateX(100vw);
		}
	}

	.HomeQueue {
		.Menu,
		.Playlist,
		.Queue {
			height: calc(100vh - #{$navbar-height} - #{$playbar-height-desktop} - #{$md-space} * 4);
		}

		.Playlist {
			width: calc(100vw - #{$queue_width} - #{$md-space} * 3);
		}

		.Queue {
			transform: translateX(calc(100vw - #{$queue_width} - #{$md-space}));
		}
	}

	.HomeMenu {
		.Queue {
			transform: translateX(calc(100vw));
		}
	}
}

@media (min-width: 1440px) {
	.Home {
		.Menu,
		.Playlist {
			transform: translateX(0);
		}

		.Menu {
			position: relative;
		}

		.Playlist {
			width: calc(100vw - #{$menu_width} - #{$md-space} * 3);
		}
	}

	.HomeQueue {
		.Playlist {
			width: calc(100vw - #{$menu_width} - #{$queue_width} - #{$md-space} * 4);
		}
	}
}
