@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

$WIDTH: 175px;
$HEIGHT: $xxl-space;

.Button {
	min-width: $WIDTH;
	height: $HEIGHT;

	padding: 0 $lg-space;

	font-family: $secondary-font;
	font-size: $lg-size;

	text-transform: lowercase;

	color: $primary-color;

	background: $secondary-color;
	border: none;

	border-radius: calc(#{$HEIGHT} / 2);

	position: relative;

	transition: all 0.1s;
	user-select: none;

	&:hover:not([disabled]) {
		background-color: rgba($secondary-color, 0.75);
	}

	&:active,
	&:active:hover:not([disabled]) {
		background-color: rgba($secondary-color, 0.5);
	}

	&:disabled {
		background-color: $third-color;
	}

	.Spinner {
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}
}

.ButtonTransparent {
	font-family: $primary-font;
	font-size: $lg-size;
	color: $third-color;

	width: auto;
	height: auto;

	padding: 0;

	background-color: transparent !important;

	&:hover,
	&:active,
	&:active:hover:not([disabled]) {
		color: $secondary-color;

		background-color: transparent;
	}
}

@media (min-width: 720px) {
	$WIDTH: 225px;

	.Button {
		min-width: $WIDTH;
	}
}

@media (min-width: 1025px) {
	$WIDTH: 200px;

	.Button {
		min-width: $WIDTH;
	}
}
