@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizing.scss';

.Button {
	height: 56px;
	padding: 0 42px;

	font-family: $secondary-font;
	font-size: $sm;
	color: $secondary-color;

	text-transform: lowercase;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	transition: all 0.2s;

	background: transparent;
	border: 2px solid $secondary-color;

	user-select: none;

	&:hover:not([disabled]) {
		background-color: $secondary-color;

		color: $primary-color;

		.Icon {
			fill: $primary-color;
		}
	}

	&:disabled {
		color: $third-color;
		border-color: $third-color;

		.Icon {
			fill: transparent;
		}
	}

	.Icon {
		height: 25px;
		margin-right: 8px;

		fill: $secondary-color;

		transition: all 0.2s;
	}

	.Spinner {
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.Ghost {
	height: inherit;
	padding: 0;

	border: none;

	&:hover:not([disabled]),
	&:disabled {
		background-color: inherit;

		color: $third-color;
	}
}

.Loading {
	color: transparent !important;
}
