@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

$WIDTH: 300px;
$HEIGHT: $xxl-space;

$ICON_SIZE: 26px;

.Input {
	width: $WIDTH;

	.Wrapper {
		width: calc(100% - #{$md-space});
		height: $HEIGHT;

		padding-left: $md-space;

		display: flex;
		align-items: center;

		border: 2px solid transparent;
		border-radius: calc(#{$HEIGHT} / 2);
		background-color: $primary-color;

		.Icon {
			padding-right: $md-space;

			> * {
				width: $ICON_SIZE;
				height: $ICON_SIZE;

				fill: $third-color;
			}
		}

		input {
			width: 100%;
			padding: 0;
			padding-right: $md-space;

			font-family: $primary-font;
			font-size: $lg-size;

			color: $secondary-color;

			border: none;
			background-color: transparent;
		}
	}

	.WrapperDark {
		background-color: $fourth-color;
	}

	.WrapperDisabled {
		opacity: 0.75;

		input {
			color: $third-color;
		}
	}

	.WrapperError {
		border-bottom-color: $danger-color;
	}

	.Error {
		font-family: $primary-font;
		font-size: $sm-size;
		line-height: $md-size;

		color: $danger-color;

		margin: 4px $md-space 0;
	}
}

@media (min-width: 720px) {
	$INPUT_WIDTH: 400px;

	.Input {
		width: $INPUT_WIDTH;
	}
}

@media (min-width: 1025px) {
	$INPUT_WIDTH: 350px;

	.Input {
		width: $INPUT_WIDTH;
	}
}
