@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizing.scss';

.Form {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	.Input {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.Error {
		font-family: $primary-font;
		font-size: $sm;

		color: $danger-color;

		margin-top: 16px;
	}

	.Button {
		margin-top: 60px;
	}
}

@media (min-width: 720px) {
	.Heading {
		padding-top: 120px;

		.Name {
			font-size: 5em;
		}

		.Description {
			font-size: $md;

			margin-top: 16px;
		}
	}
}

@media (min-width: 1025px) {
	.Form {
		margin-left: 7rem;
	}

	.Form {
		align-items: flex-start;

		.Input {
			justify-content: flex-start;
			align-items: flex-start;

			text-align: left;

			padding-left: 0;
		}
	}
}
