@import 'styles/colors.scss';

$SIZE: 35px;

.Avatar {
	width: $SIZE;
	height: $SIZE;

	fill: $secondary-color;

	cursor: pointer;
}

@media (min-width: 1025px) {
	.Avatar {
		fill: $primary-color;
	}
}
