@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizing.scss';

$SIZE: 35px;

.Avatar {
	width: $SIZE;
	height: $SIZE;

	fill: $secondary-color;

	cursor: pointer;
}

.Error {
	font-family: $primary-font;
	font-size: $sm;

	color: $secondary-color;
}

@media (min-width: 1025px) {
	.Avatar {
		fill: $primary-color;
	}
}
