@import 'styles/colors.scss';
@import 'styles/spacing.scss';

$SIZE: $xxxl-space;
$COLOR: $fourth-color;

.Spinner {
	width: $SIZE;
	height: $SIZE;

	border-radius: calc(#{$SIZE} / 2);
	border: 6px solid $COLOR;

	border-color: $COLOR transparent $COLOR transparent;
	animation: spinning 1.2s linear infinite;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
