@import 'styles/colors.scss';

.Spinner {
	width: 64px;
	height: 64px;

	border-radius: 50%;
	border: 6px solid $secondary-color;

	border-color: $secondary-color transparent $secondary-color transparent;
	animation: spinning 1.2s linear infinite;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
