@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

.Form {
	margin-top: $xxl-space;

	.Input {
		margin-bottom: $md-space;
	}

	.Error {
		font-family: $primary-font;
		font-size: $sm-size;

		color: $danger-color;

		margin-top: $md-space;
	}

	.Button {
		margin-top: $xxl-space;
	}
}
