@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

.Form,
.Info {
	margin-top: $xxl-space;

	.Button {
		margin-top: $xxxl-space;
	}
}

.Form {
	.Input {
		margin-bottom: $md-space;
	}

	.Error {
		font-family: $primary-font;
		font-size: $sm-size;

		color: $danger-color;

		margin-top: $md-space;
	}
}

.Info {
	.Success {
		font-family: $secondary-font;
		font-size: $lg-size;
		line-height: $xl-size;

		color: $secondary-color;
	}

	.Agree {
		margin-top: $xxl-space;
	}

	.Warning {
		font-family: $primary-font;
		font-size: $md-size;

		color: $danger-color;

		margin-top: $xs-space;
	}
}
