@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/sizing.scss';
@import 'styles/spacing.scss';

.SoundCloud {
	.Form {
		.Input {
			font-family: $secondary-font !important;
		}

		.Error {
			font-family: $primary-font;
			font-size: $sm;

			color: $danger-color;

			margin-top: 16px;
		}

		.Button {
			margin-top: 28px;
		}
	}

	.Info {
		.Success {
			font-family: $secondary-font;
			font-size: $sm;
			line-height: $md;

			color: $secondary-color;
		}

		.Agree {
			margin-top: 72px;
		}

		.Warning {
			font-family: $primary-font;
			font-size: $xs;

			color: $danger-color;

			margin-top: 4px;
		}

		.Button {
			margin-top: 32px;
		}
	}

	.Instructions {
		margin-top: 4em;

		width: 100%;
		height: 500px;

		border-radius: 8px;

		background-color: rgba(255, 255, 255, 0.03);
	}
}

@media (min-width: 720px) {
	.SoundCloud {
		.Instructions {
			width: 400px;
		}
	}
}

@media (min-width: 1025px) {
	.SoundCloud {
		display: flex;
		align-items: flex-start;

		.Form,
		.Instructions,
		.Info {
			margin-top: 6em;
		}

		.Form,
		.Info {
			min-width: 350px;
		}

		.Instructions {
			width: 400px;

			margin-left: 20vw;
		}
	}
}
