@import 'styles/colors.scss';

$size: 85vw;

.Circle {
	display: none;

	width: $size;
	height: $size;

	position: fixed;

	background-color: $secondary-color;
	border-radius: 50%;

	mix-blend-mode: difference;

	animation: bubble forwards 8s infinite;
	transition: all 1s;

	z-index: 1000;

	@keyframes bubble {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.05);
		}

		100% {
			transform: scale(1);
		}
	}
}

.Auth,
.Recover {
	display: block;

	top: -20vw;
	right: -25vw;
}

@media (min-width: 720px) {
	$size: 65vw;

	.Circle {
		width: $size;
		height: $size;
	}

	.Auth,
	.Recover {
		top: -20vw;
		right: -15vw;
	}
}

@media (min-width: 1025px) {
	$size: 80vh;

	.Circle {
		width: $size;
		height: $size;
	}

	.Auth {
		top: calc(#{$size} / 2);
		right: calc(-#{$size} / 2);
	}

	.Recover {
		top: calc(100vh - #{$size} / 2);
		right: calc(-#{$size} / 6);
	}
}
