@import 'styles/colors.scss';
@import 'styles/spacing.scss';

html {
	background-color: $fourth-color !important;
	color: $secondary-color !important;

	::selection {
		background: $danger-color;
		color: $primary-color;
	}

	::-webkit-scrollbar {
		width: 0px;
		height: 0px;

		background: transparent;
	}
}

.Layout {
	width: 100vw;
	height: 100vh;

	position: relative;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.Navbar {
		margin-top: $md-space;
	}

	.Main {
		flex-grow: 1;

		margin: $md-space 0;
	}
}

@media (min-width: 1025px) {
	.Layout {
		max-width: 2048px;
	}
}
