@import 'styles/colors.scss';

html {
	background-color: $primary-color !important;
	color: $secondary-color !important;
}

.Layout {
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.Layout {
		width: 92%;
		max-width: 2048px;
	}
}
