@import 'styles/colors.scss';

html {
	background-color: $primary-color !important;
	color: $secondary-color !important;

	::selection {
		background: $danger-color;
		color: $primary-color;
	}

	::-webkit-scrollbar {
		width: 0px;
		height: 0px;

		background: transparent;
	}
}

.Layout {
	width: 100%;
	margin: 0 auto;

	position: relative;

	overflow: hidden;

	.Loading {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100vw;
		height: 100vh;
	}
}

@media (min-width: 1025px) {
	.Layout {
		max-width: 2048px;
	}
}
