@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';

// Styles
.Content {
	background-color: $primary-color;
	border-radius: 12px;

	overflow-y: scroll;

	.Header {
		padding: $xxl-space $md-space;

		position: relative;

		.Title {
			font-family: $third-font;
			font-size: 2.5rem;

			white-space: normal; /* Allow text to wrap */
			overflow-wrap: break-word; /* Break long words to prevent overflow */
			word-wrap: break-word;

			color: $secondary-color;

			margin-bottom: $xl-space;
		}

		.Icon {
			position: absolute;

			top: $md-space;
			right: $md-space;

			> * {
				width: 30vw;
				height: 30vw;

				fill: rgba(255, 255, 255, 0.05);
			}
		}
	}

	.Main {
		padding: 0 $md-space $md-space;
	}
}

@media (min-width: 720px) {
	// Styles
	.Content {
		.Header {
			padding: $xxxl-space $xxl-space;

			.Title {
				font-size: 5rem;

				margin-bottom: $xl-space;
			}

			.Icon {
				top: $xxl-space;
				right: $xxl-space;

				> * {
					width: 20vw;
					height: 20vw;
				}
			}
		}

		.Main {
			padding: $md-space $xxl-space;
		}
	}

	// Spacing
	.Content {
		.Main {
			$block_spacing: $xl-space;
		}
	}
}

@media (min-width: 1025px) {
	// Styles
	.Content {
		.Header {
			padding: $xxxl-space;

			.Title {
				font-size: 6em;
			}

			.Icon {
				top: $xxl-space;
				right: $xxxl-space;

				> * {
					width: 200px;
					height: 200px;
				}
			}
		}

		.Main {
			padding: 0 $xxxl-space $md-space;
		}
	}
}
