@import 'styles/fonts';
@import 'styles/colors';
@import 'styles/sizing';
@import 'styles/spacing';
@import 'styles/constants';

.Navbar {
	display: flex;
	align-items: center;

	margin: 0 $md-space;

	.Toggle {
		cursor: pointer;

		> * {
			width: 30px;
			height: 30px;

			fill: $secondary-color;
		}
	}

	.Input {
		flex-grow: 1;
		margin-left: $md-space;
	}

	.Icon {
		stroke: $third-color;
	}

	.Avatar {
		width: $navbar-height;
		height: $navbar-height;

		min-width: $navbar-height;
		min-height: $navbar-height;

		border-radius: calc(#{$navbar-height} / 2);
		overflow: hidden;

		box-sizing: border-box;
		border: 8px solid $primary-color;

		margin-left: $md-space;

		transition: opacity 0.2s;
		cursor: pointer;

		user-select: none;

		&:active {
			opacity: 0.8;
		}

		.Image {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		.Placeholder {
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: lightgreen;

			.Initial {
				font-family: $secondary-font;
				font-size: $md-size;

				color: $fourth-color;
			}
		}
	}
}

@media (min-width: 720px) {
	.Navbar {
		justify-content: center;

		position: relative;

		.Toggle,
		.Avatar {
			position: absolute;

			top: 50%;

			transform: translateY(-50%);
		}

		.Toggle {
			left: 0;
		}

		.Avatar {
			right: 0;
		}

		.Input {
			flex-grow: unset;
			width: 450px;
		}
	}
}

@media (min-width: 1025px) {
	.Navbar {
		.Input {
			width: 550px;
		}
	}
}

@media (min-width: 1440px) {
	.Navbar {
		.Toggle {
			display: none;
		}
	}
}
