@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/spacing.scss';
@import 'styles/sizing.scss';
@import 'styles/constants.scss';

.Account {
	height: 100%;

	display: flex;

	position: relative;

	.Menu,
	.Content {
		height: calc(100vh - #{$navbar-height} - #{$md-space} * 3);

		transition: all $navigation_animation_duration;
	}

	.Menu {
		width: calc(100vw - #{$md-space} * 4);

		display: flex;
		flex-direction: column;

		margin-left: $md-space;

		position: absolute;
		left: calc(-100vw + #{$md-space} * 3);

		> * {
			width: 100%;
			height: 100%;
		}
	}

	.Content {
		width: calc(100% - #{$md-space} * 2);

		margin-left: $md-space;
	}
}

.AccountMenu {
	.Menu {
		left: 0;
	}

	.Content {
		transform: translateX(calc(100vw - #{$md-space} * 3));
	}
}

.AccountQueue {
	.Menu,
	.Content {
		height: calc(100vh - #{$navbar-height} - #{$playbar-height} - #{$md-space} * 4);
	}
}

@media (min-width: 720px) {
	.Account {
		.Menu {
			width: $menu_width;

			left: calc(-#{$queue_width} - #{$md-space});
		}
	}

	.AccountMenu {
		.Menu {
			left: 0;
		}

		.Content {
			transform: translateX(calc(#{$queue_width} + #{$md-space}));
		}
	}
}

@media (min-width: 1025px) {
	.Account {
		.Content {
			width: calc(100vw - #{$md-space} * 2);
		}
	}

	.AccountQueue {
		.Menu,
		.Content {
			height: calc(100vh - #{$navbar-height} - #{$playbar-height-desktop} - #{$md-space} * 4);
		}
	}
}

@media (min-width: 1440px) {
	.Account {
		.Menu {
			position: relative;

			left: 0;
		}

		.Content {
			width: calc(100vw - #{$menu_width} - #{$md-space} * 3);

			transform: translateX(0);
		}
	}

	.AccountQueue {
		.Content {
			width: calc(100vw - #{$menu_width} - #{$md-space} * 4);
		}
	}
}
